<div class="archive-post">
	<div class="archive-date">	
		<a href="<%- config.root %><%- post.path %>"><%= post.date.format(config.date_format) %></a>
	</div>
	<div class="archive-post-title">
		<a href="<%- config.root %><%- post.path %>"><%= post.title %></a>
		<div class="archive-tag">
			<span class="icon"><i class="fa fa-tags fa-fw"></i></span>
			<%- partial('post/tag') %>
		</div><!-- archive-tag -->
	</div>
</div>
<hr>
