<div class="archive-post">
	<div class="archive-date">	
		<a href="<%- config.root %><%- post.path %>"><%= post.date.format(config.date_format) %></a>
	</div>
	<div class="archive-post-title">
		<a href="<%- config.root %><%- post.path %>"><%= post.title %></a>
		<div class="archive-tag">
			<span class="icon"><i class="icon-tags"></i></span>
			<span>Tags </span>
			<% if (post.tags && post.tags.length > 0){ %>
	  			<%post.tags.forEach(function(tag){ %> 
	  				<span>| </span>
	  	  	 		<a href="<%-config.root%><%-tag.path%>"><%= tag.name %></a>
				<% }); %>
			<% } %>
		</div><!-- archive-tag -->
	</div>
</div>
<hr>
