<%
var title = '', classes = 'archives-title';

if (is_category()) {
  title = page.category;
  classes += ' category';
} else if (is_tag()) {
  title = page.tag;
  classes += ' tag';
} else if (is_archive()) {
  if (is_year()) {
    title = page.year;
  } else if (is_month()) {
    title = page.year + page.month;
  }
}
%>

<% if (title) { %>
  <h2 class="<%= classes %>"><span><%= title %></span></h2>
<% } %>

<%- partial('banner') %>

<% if (pagination == 2){ %> <!-- index -->
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }); %>

  <center>
    <%- partial('pagination') %>
  </center>

<% } else { %> <!-- not index -->
  <div class="row">
    <div class="col-md-1">
      <%- partial('left') %>
    </div><!-- col-md-1 -->

    <div class="col-md-10">
      <div class="archives-wrapper">

        <% var last; %>
        <% page.posts.each(function(post){ %>
          <% var year = post.date.year(); %>

          <% if (last != year){ <!-- another year -->
            if (last != null) { %>
              <br>
            <% }
            last = year; %>
            <div class="archives-year">
              <a href="<%- config.root %>archives/<%= year %>"><%= year %></a>
            </div><!-- archives-year -->
            <hr>
          <% } %> <!-- another year -->

          <div class="archives">
            <%- partial('archive-post', {post: post}) %>
          </div><!-- archives -->
        <% }) %><!-- each -->
        <center>
          <%- partial('pagination') %>
        </center>
      </div><!--archives-wrapper -->
    </div><!-- col-md-10 -->
  </div><!-- row -->
<% } %>
