<%- partial('banner') %>

<% if (pagination == 2){ %> <!-- index -->
  <% page.posts.each(function(post){ %>
    <% var display = true; %>
    <% if (post.categories && post.categories.length > 0)  { 
      post.categories.forEach(function(category){
        if (category.name == '笔记') {
          display = false;
        }
      });
      if (display) { %>
        <%- partial('article', {post: post, index: true}) %>
      <% } %>
    <% } %>
  <% }); %>

  <center>
    <%- partial('pagination') %>
  </center>

<% } else { %> <!-- not index -->
  <div class="row">
    <div class="col-md-1">
      <%- partial('left') %>
    </div><!-- col-md-1 -->

    <div class="col-md-11">
      <div class="archives-wrapper">

        <% var last; %>
        <% page.posts.each(function(post){ %>
          <% var year = post.date.year(); %>

          <% if (last != year){ <!-- another year -->
            if (last != null) { %>
              <br>
            <% }
            last = year; %>
            <div class="archives-year">
              <a href="<%- config.root %>archives/<%= year %>"><%= year %></a>
            </div><!-- archives-year -->
            <hr>
          <% } %> <!-- another year -->

          <div class="archives">
            <%- partial('archive_post', {post: post}) %>
          </div><!-- archives -->
        <% }) %><!-- each -->
        <center>
          <%- partial('pagination') %>
        </center>
      </div><!--archives-wrapper -->
    </div><!-- col-md-11 -->
  </div><!-- row -->
<% } %>
