<div class="row">
	<div class="col-md-1">
		<%- partial('left') %>
	</div>	

	<div class="col-md-11">
		<article>		
			<!-- title and entry -->										
			<%- partial('post/title') %>

			<% if (post.photos && post.photos.length > 0){ %>
    			<%- partial('post/gallery') %>
 			<% } %>

			<%- partial('post/entry') %>

			<% if (is_post() == true) { %>
				<div class="under-article">
					<% if (page.prev){ %>
						<a href="<%- config.root %><%- page.prev.path %>" class="prev"><i class="icon-chevron-left"></i> <%- page.prev.title %></a>
					<% } %>
					<% if (page.next){ %>
						<a href="<%- config.root %><%- page.next.path %>" class="next"><%- page.next.title %> <i class="icon-chevron-right"></i></a>
					<% } %>
				</div>
			<% } %>

			<% if (!index && theme.share){ %>
				<%- partial('post/share') %>
			<% } %>

			<% if (!index && theme.duoshuo && post.comments){ %>
				<%- partial('post/comment', {
				    key: post.slug,
				    title: post.title,
				    url: config.url+url_for(post.path)
				  }) %>
				<% } %>
			
		</article>
	</div>	
</div><!-- row -->
<hr>