<div class="under-navbar">
	<li><i class="icon-th-list"></i> 阅读文章</li>
</div>

<hr>

<div class="row">
 	<% if (item.photos && item.photos.length > 0){ %>
    	<%- partial('post/gallery') %>
 	<% } %>

	<div class="col-md-1">
		<div class="side-icon">
			<a href="/">
				<i class="icon-hand-left icon-2x"></i>
				<div class="angle">
					<i class="icon-double-angle-left"></i>
					<i class="icon-double-angle-left"></i>
				</div>
			</a>
		</div>
	</div>	

	<div class="col-md-10">
		<article>		
			<!-- title and entry -->										
			<%- partial('post/title', {item: item}) %>
			<%- partial('post/entry', {item: item}) %>

			<hr/>

			<% if (is_post() == true) { %>
				<div class="under-article">
					<% if (page.prev){ %>
						<a href="<%- config.root %><%- page.prev.path %>" class="prev"><i class="icon-chevron-left"></i> <%- page.prev.title %></a>
					<% } %>
					<% if (page.next){ %>
						<a href="<%- config.root %><%- page.next.path %>" class="next"><%- page.next.title %> <i class="icon-chevron-right"></i></a>
					<% } %>
				</div>
			<% } %>

			<% if (!index && theme.share){ %>
				<%- partial('post/share') %>
			<% } %>

			<% if (!index && theme.duoshuo && item.comments){ %>
				<%- partial('post/comment', {
				    key: item.slug,
				    title: item.title,
				    url: config.url+url_for(item.path)
				  }) %>
				<% } %>
			
		</article>
	</div>

	<div class="col-md-1">
		<div class="article-category">
			<div class="article-icon">
				<i class="icon-suitcase"></i>
			</div>
			<%- partial('post/category', {item: item, index: index}) %>
		</div>
		
		<div class="article-tag">
			<div class="article-icon">
				<i class="icon-tags"></i>
			</div>
			<%- partial('post/tag', {item: item, index: index}) %>
		</div>
	</div>
	
</div><!-- row -->
<hr>