<% if (theme.about_me){ %>
<div class="about_me">
  <div class="entry">
  	<div class="top">
   		<% if (theme.about_me.img){ %>
    	<div class="top-img">
    		<img width="100" title="img" src="<%- config.root %><%= theme.about_me.img %>" />
    	</div>
    	<% } %>
    </div>
    <% theme.about_me.texts.forEach(function(item){ %>
    <p><%- item %></p>
    <% }); %>
    <hr>
    <P>不想多说 曾经听到一句话 </P>
    <p>你要喜欢你心中的艺术 不要喜欢艺术中的自我</p>
    <P>同样以此自勉 (ง •̀_•́)ง</P>
    <p>不管对于艺术 对于科学 还是对于生活</p>
    <p>怀着同样虔诚质朴的心 不断前行</p>
    <hr>
    <div class="social-icons">
      <a href="https://github.com/lizzzz">
        <img src="<%- config.root %><%= theme.about_me.github %>" title="github" />
      </a>
      <a href="http://weibo.com/wangchenqd">
        <img src="<%- config.root %><%= theme.about_me.weibo %>" title="weibo" />
      </a>
      <a href="http://www.douban.com/people/wangchenqd/">
        <img src="<%- config.root %><%= theme.about_me.douban %>" title="douban" />
      </a>
      <a href="http://www.zhihu.com/people/wangchenqd">
        <img src="<%- config.root %><%= theme.about_me.zhihu %>" title="zhihu" />
      </a>
      <a href="http://linkedin.com">
        <img src="<%- config.root %><%= theme.about_me.linkedin %>" title="linkedin" />
      </a>
      <a href="http://wpa.qq.com/msgrd?v=3&uin=28332039&site=qq&menu=yes">
        <img src="<%- config.root %><%= theme.about_me.qq %>" title="qq" />
      </a>
    </div>
  </div>
</div>
<% } %>