<br>
<% if (site.categories.length){ %>
	<div class="widget">
		<div class="widget-icon">
			<i class="icon-suitcase"></i>
			<p><%= __('categories') %> · · · · · · · · · · · · · · ·(<a href="#">全部</a>)</p>
		</div>
		
		<ul class="tag_box inline list-unstyled">
		<% site.categories.sort('name').each(function(item){ %>
			<li><a href="<%- config.root %><%- item.path %>"><%= item.name %><span><%= item.posts.length %></span></a></li>
		<% }); %>
		</ul>
	</div>
<% } %>