<% if (site.categories.length){ %>
	<div class="widget">
		<div class="widget-icon">
			<i class="fa fa-calendar-check-o fa-fw"></i>
			<p><%= __('categories') %> · · · · · · · · · · · · · (<a href="/categories">全部</a>)</p>
		</div>
		
		<ul class="tag_box inline list-unstyled">
		<% site.categories.sort('name').each(function(post){ %>
			<li><a href="<%- config.root %><%- post.path %>"><%= post.name %><span><%= post.posts.length %></span></a></li>
		<% }); %>
		</ul>
	</div>
<% } %>