<br>
<% if (site.posts.length){ %>
  <div class="widget">
    <div class="widget-icon">
      <i class="icon-tasks"></i>
      <p><%= __('recent_posts') %> · · · · · · · · · · · (<a href="#">全部</a>)</p>
    </div>

      <ul class="post-list">
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li>
            <i class="icon-paper-clip"></i>
            <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
            <span class="recent-post-category">
              <% if (post.categories && post.categories.length > 0){ %>
                <%post.categories.forEach(function(category){ %>    
                  <a href="<%-config.root%><%-category.path%>"><%= category.name %></a>
                <%  
                });
                %>
              <% } %>
            </span>
            <span id="class-recent">分类于</span>
          </li>

        <% }) %>
      </ul>
  </div>

<% } %>