<% if (site.tags.length){ %>
	<div class="widget">
		<div class="widget-icon">
			<i class="icon-tag"></i>
			<p><%= __('tagcloud') %> · · · · · · · · · · · · · · (<a href="#">全部</a>)</p>
		</div>
		<ul class="tag_box inline list-unstyled">		
		<% site.tags.random().limit(20).each(function(item){ %>
			<li><a href="<%- config.root %><%- item.path %>"><%= item.name %><span><%= item.posts.length %></span></a></li>
		<% }); %>
		<% if (site.tags.length > 20) { %>
		   <li><a href="/tags">...<span><%= site.tags.length %></span></a></li>
		<% } %> 
		</ul>
	</div>
<% } %>
