<div class="entry">
	<% if (post.excerpt && index){ %>
		<%- post.excerpt %>
	<% } else { %>
		<%- post.content %>
		<br>
		<p>- end -</p>
	<% } %>

	<% if (index){ %>
		<% if (post.excerpt){ %>
			<a href="<%- config.root %><%- post.path %>#more" class="btn btn-primary"><%= theme.excerpt_link %> <i class="icon-double-angle-right"></i></a>
		<% } %>
	<% } %>
</div>
