<% if (item.link) { %>
  <% if (item.title){ %>
    <div class="title"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></div>
  <% } else { %>
    <div class="title"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></div>
  <% } %>
<% } else { %>
  <% if (index) { %>
  <!-- display as entry -->
    <div class="title">
      <a href="<%- config.root %><%- item.path %>" <% if(item.description) { %>title="<%= item.description %>"<% } %>><%= item.title %></a>
      <span class="icon"><i class="icon-time"></i> Posted on <%= item.date.format(config.date_format) %></span>
      <span class="icon"><i class="icon-edit"></i> Edited by <a href="/about" target="_BLANK">Liz</a> </span>
      <hr>
    </div>
  <% }%>
<% } %>
