<% if (item.link) { %>
  <% if (item.title){ %>
    <div class="title"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></div>
  <% } else { %>
    <div class="title"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></div>
  <% } %>
<% } else { %>
  <% if (index) { %>
  <!-- display as entry -->
    <div class="title">
      <a href="<%- config.root %><%- item.path %>" <% if(item.description) { %>title="<%= item.description %>"<% } %>><%= item.title %></a>
      <span class="time"><i class="icon-time"></i></a> Posted on <%= item.date.format(config.date_format) %> - by <a href="/about" target="_BLANK">Liz</a></span>
    </div>
  <% }%>
<% } %>
