<% if (item.link){ %>
  <% if (item.title){ %>
    <h2 class="title_link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h2>
    <p><time datetime="<%= item.date.toDate().toISOString() %>"><i class="icon-time"></i> Posted on <%= item.date.format(config.date_format) %></time></p>
  <% } else { %>
    <h2 class="title_link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h2>
    <p><time datetime="<%= item.date.toDate().toISOString() %>"><i class="icon-time"></i> Posted on <%= item.date.format(config.date_format) %></time></p>    
  <% } %>
<% } else { %>
  <% if (index){ %>
    <h2 class="title_link"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h2>
    <p><time datetime="<%= item.date.toDate().toISOString() %>"><i class="icon-time"></i> Posted on <%= item.date.format(config.date_format) %></time></p>    
  <% } else { %>
    <h2 class="title"><%= item.title %></h2>
    <p><time datetime="<%= item.date.toDate().toISOString() %>"><i class="icon-time"></i> Posted on <%= item.date.format(config.date_format) %></time></p>    
  <% } %>
<% } %>
