<% if (item.link) { %>
  <% if (item.title){ %>
    <p class="title"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></p>
  <% } else { %>
    <p class="title"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></p>
  <% } %>
<% } else { %>
  <% if (index) { %>
  <!-- display as entry -->
    <p class="title">
      <a href="<%- config.root %><%- item.path %>" <% if(item.description) { %>title="<%= item.description %>"<% } %>><%= item.title %></a>
      <span class="time"><i class="icon-time"></i> Posted on <%= item.date.format(config.date_format) %> </span>
    </p>
  <% }%>
<% } %>
