<% if (post.layout != 'page'){ %>
  <% if (post.link) { %>
    <% if (post.title){ %>
      <div class="title"><a href="<%- post.link %>" target="_blank"><%= post.title %></a></div>
    <% } else { %>
      <div class="title"><a href="<%- post.link %>" target="_blank"><%= post.link %></a></div>
    <% } %>
  <% } else { %>
    <% if (index) { %>
    <!-- display as entry -->
      <div class="title">
        <a href="<%- config.root %><%- post.path %>" <% if(post.description) { %>title="<%= post.description %>"<% } %>><%= post.title %></a>
        <div class="under-title">
          <span class="icon"><i class="icon-signin"></i> posted on <%= post.date.format(config.date_format) %></span>  
        </div>
        <div class="under-title">
          <span class="icon"><i class="icon-pencil"></i> edited by <a href="/about" target="_BLANK">Liz</a> </span>
          <span class="icon">
            <i class="icon-th-large"></i>
            <%- partial('category') %>
          </span>
          <span class="icon">
            <i class="icon-tags"></i>
            <%- partial('tag') %>
          </span>
        </div>  
        <hr>
      </div>
    <% } else { %>
      <div class="title">
        <p><%= post.title %></p>
        <div class="under-title">
          <span class="icon"><i class="icon-signin"></i> posted on <%= post.date.format(config.date_format) %></span>  
        </div>
        <div class="under-title">
          <span class="icon"><i class="icon-pencil"></i> edited by <a href="/about" target="_BLANK">Liz</a> </span>
          <span class="icon">
            <i class="icon-th-large"></i>
            <%- partial('category') %>
          </span>
          <span class="icon">
            <i class="icon-tags"></i>
            <%- partial('tag') %>
          </span>
          <span id="busuanzi_container_page_pv">
             <i class="icon-heart"></i><span id="busuanzi_value_page_pv"></span> viewed
          </span>
        </div>  
        <hr>
      </div>
    <% } %>
  <% } %>
<% } %>